<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="viewModel" type="io.github.miroslavpokorny.blog.model.viewmodel.ArticleViewModel"*/-->
<!--/*@thymesVar id="commentForm" type="io.github.miroslavpokorny.blog.model.form.CommentForm"*/-->
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Blog - '+${viewModel.name}">Blog - article</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        .preview-image {
            max-width: 100%;
            margin-bottom: 1em;
        }
        .move-right {
            float: right;
        }
        .thumbnail-image {
            max-width: 22%;
            margin: 1%
        }
    </style>
    <link rel="stylesheet" href="../static/css/lightbox.min.css" th:href="@{/css/lightbox.min.css}"/>
    <script type="text/javascript" src="../static/js/lightbox.min.js" th:src="@{/js/lightbox.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="col-md-8">
        <h1 th:text="${viewModel.name}">Article name</h1>
        <p>Published on <span th:text="${viewModel.publishDate}">2018-01-18</span> by <span th:text="${viewModel.author}">Administrator</span></p>
        <img class="preview-image" th:alt="'/images/'+${viewModel.previewImage}" th:src="@{'/images/'+${viewModel.previewImage}}" src="images/"/>
        <article th:utext="${viewModel.content}">
            <p>Bacon ipsum dolor amet short loin shankle porchetta sirloin, swine picanha filet mignon ham pork belly ham hock fatback pork loin. Drumstick kielbasa flank, jowl short loin cow tongue. Pork tail boudin shank strip steak shankle venison. Ground round beef short loin swine tri-tip beef ribs jerky. Porchetta beef ribs cow salami.</p>
        </article>
        <div th:if="${viewModel.galleryItems != null and viewModel.galleryItems.size() > 0}">
            <h2>Gallery</h2>
            <a th:each="galleryItem : ${viewModel.galleryItems}" th:href="@{'/images/'+${galleryItem.imageName}}" data-lightbox="gallery" th:attr="data-title=${galleryItem.title}">
                <img class="thumbnail-image" th:alt="'/images/'+${galleryItem.imageName}" th:src="@{'/images/'+${galleryItem.imageName}}" src="images/"/>
            </a>
            <script>
                lightbox.option({
                    'resizeDuration': 200,
                    'wrapAround': true
                })
            </script>
        </div>
        <div th:if="${viewModel.comments != null and viewModel.comments.size() > 0}">
            <h2>Comments</h2>
            <div class="panel panel-default" th:each="comment : ${viewModel.comments}">
                <div class="panel-heading">
                    Posted by <span th:text="${comment.author}">Administrator</span><span class="move-right">Posted on <span th:text="${comment.publishDate}">2018-01-18</span></span>
                </div>
                <div class="panel-body">
                    <p th:text="${comment.comment}">Bacon ipsum dolor amet short loin shankle porchetta sirloin, swine picanha filet mignon ham pork belly ham hock fatback pork loin.</p>
                </div>
            </div>
        </div>
        <h2>Comments</h2>
        <div th:if="${viewModel.comments == null or viewModel.comments.size() == 0}">
            <p>No comments are published!</p>
        </div>
        <p th:unless="${viewModel.authenticated}">You must be signed in to write comments. <a href="/admin">Click here to sign in.</a></p>
        <form th:if="${viewModel.authenticated and viewModel.role >= 1}" method="post" th:object="${commentForm}">
            <textarea class="form-control" placeholder="Write your comment here" style="resize: vertical; margin-bottom: 0.5em" required="required" th:field="*{comment}"></textarea>
            <button class="btn btn-primary move-right" type="submit">Post comment</button>
        </form>
    </div>
    <div class="col-md-4">
        <h2>Categories</h2>
        <div class="list-group">
            <a th:href="'/'" class="list-group-item">Latest articles</a>
            <a th:each="category : ${viewModel.categories}"
               th:href="'/category/'+${category.id}"
               th:text="${category.name}"
               th:class="${viewModel.category == category.id} ? 'list-group-item active' : 'list-group-item'"
            >Category name</a>
        </div>
    </div>
</div>
</body>
</html>